*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	height: 40vh;
}

body{
	background-color: RosyBrown;
	font-family: Arial, Sans-Serif;
}

section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 32px;
	letter-spacing: 1px;
	margin: 20px 0;
	color: white;
}

form{
	margin: 20px 0;
	background-color: #FFB6C1;
	padding: 30px 25px;
	border-radius: 5px;
}

form .input-block{
	margin-bottom: 20px;
}

form .input-block label{
	font-size: 14px;
	color: #FF1493;
}

form .input-block input{
	width: 100%;
	display: block;
	margin-top: 8px;
	padding: 7px;
	font-size: 16px;
	color: #94446f;
	border-radius: 10px;
	border: 1px solid #FF1493;
	outline-color: #FF1493;
}

form .btn-login{
	display: block;
	min-width: 120px;
	border: none;
	background-color: #DC143C;
	color: white;
	border-radius: 25px;
	margin: auto;
	padding: 7px;
	cursor: pointer;
	opacity: 1;
	transition: all ease 0.2s;
}

form .btn-login:hover{
	opacity: 0.8;
	border: 2px solid #960251;
}

/* 1- fazer o form aparecer suavemente */
/* 2- fazer os campos aparecer da esquerda para a direita */

form{
    overflow: hidden;
    animation: fade 0.9s;  
}

form .input-block:nth-child(1){
animation: move 950ms;
}

form .input-block:nth-child(2){
animation: moves 1s;
animation-delay: 100ms;
animation-fill-mode: backwards;	
}

form .input-block:nth-child(3){
animation: move 1s;
animation-delay: 100ms;
animation-fill-mode: backwards;	
}

form .input-block:nth-child(4){
animation: moves 1s;
animation-delay: 100ms;
animation-fill-mode: backwards;	
}

form .input-block:nth-child(5){
animation: move 1s;
animation-delay: 100ms;
animation-fill-mode: backwards;	
}

form .input-block:nth-child(6){
animation: moves 1s;
animation-delay: 100ms;
animation-fill-mode: backwards;	
}

form .input-block:nth-child(7){
animation: move 1s;
animation-delay: 100ms;
animation-fill-mode: backwards;	
}

form .btn-login{
animation: moves 600ms;
animation-delay: 350ms;
animation-fill-mode: backwards;	
}

@keyFrames moves
{
    from
    {
        opacity: 0;
        transform: translateY(-35%);
    }
    to
    {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyFrames move
{
    from
    {
        opacity: 0;
        transform: translateX(-35%);
    }
    to
    {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyFrames fade
{
	from
	{
		opacity: 0;
		transform: scale(0.8);
	}
	to
	{
		opacity: 1;
		transform: scale(1);
	}
}

.form-hide {
	animation: down 500ms forwards;
	animation-timing-function: cubic-bezier(0, 1.2, 0.6, 0.2);
}

@keyframes down{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(50vh);
	}
}

form.validate-error {
	animation: nono 200ms linear, fade paused;
	animation-iteration-count: 2;
}

@keyframes nono {
	
	100% {
		transform: translateX(0)
	}
	35% {
		transform: translateX(-15%);
	}
	70% {
		transform: translateX(15%);
	}
}

body {
	overflow: hidden;
}

.squares li {
	width: 40px;
	height: 40px;
	background-color: #FF00FF;
	display: block;
	position: absolute;
	bottom: 40px;
	animation: up 2s infinite alternate;
	z-index: -2;
}

@keyframes up {
    from {
    	opacity: 0;
    	transform: translateY(0px);
    }
    50%{
    	opacity: 0.8;
    }
    to {
    	transform: translateY(-800px) rotate(960deg);
    }
}